@model IEnumerable<SWP391_FinalProject.Models.ProductModel>

<h2 class="text-center">Top Selling Products</h2>
<div class="row">
<<<<<<< HEAD
    @await Component.InvokeAsync("ProductCustomer", new { productType = "TopSelling" })
=======
    <!-- Product 1 -->
    @foreach (var item in Model)
    {
        @if (item.ProductState == "Available")
        {
            <div class="col-md-2 mb-4">
                <div class="card text-center">
                    <a asp-controller="Pro" asp-action="ProductDetail" asp-route-id="1"><img src="~/pictures/@item.Picture" class="card-img-top" alt="Product 1"></a>
                    <div class="card-body">
                        <h5 class="card-title">@item.Name</h5>
                    </div>
                </div>
            </div>
        }
    }
>>>>>>> ecf0c02aff09313ad21b8573afae5000924c951e

    <h2 class="text-center">Products</h2>
    <div class="row">
        @await Component.InvokeAsync("ProductCustomer", new { productType = "GetAllProduct" })
    </div>
</div>