@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<SWP391_FinalProject.Models.CategoryModel>

<ul class="list-group list-group-flush" style="background-color:#007BFF">
    @foreach (var item in Model)
    {
        <li class="list-group-item"><a asp-controller="Pro" asp-action="GetProductByBrand" asp-route-brand="@item.Name" >@item.Name</a></li>
    }
</ul>