@{
    Layout = "_AccLayout";
}
<script src="/lib/jquery/dist/jquery.min.js"></script> <!-- Ensure jQuery is loaded first -->
<script src="/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script>

    function fetchDistricts(provinceID) {
        console.log(provinceID);

        $.ajax({
            type: "GET",
            url: "https://esgoo.net/api-tinhthanh/2/" + provinceID + ".htm",
            dataType: "json",
            success: function (response) {
                console.log(response);

                if (response.error === 0) {
                    var data = response.data;
                    var options = '<option value="">Select District</option>';
                    for (var i = 0; i < data.length; i++) {
                        options += '<option value="' + data[i].full_name_en + '">' + data[i].full_name_en + '</option>';
                    }
                    $('#district').html(options);
                } else {
                    console.error("Error from API: " + response.error_text);
                }
            },
            error: function (xhr, status, error) {
                console.error("Error fetching data from API: " + error);
            }
        });
    }

    $(document).ready(function () {
        $('#provinces').change(function () {
            var provinceId = $(this).val();
            var Province = $("#provinces option:selected").text();
            $('#Province').val(Province); // Hidden input or for displaying province name

            fetchDistricts(provinceId);
        });
    });
    //----------------------------------------------------
    function validatePasswords() {
        var passwordField = document.getElementById("password");
        var confirmPasswordField = document.getElementById("confirmPassword");
        var ViewBagErrorField = document.getElementById("ViewBagError");
        var password = passwordField.value;
        var confirmPassword = confirmPasswordField.value;
        var passwordErrorLabel = document.getElementById("passwordErrorLabel");

        if (password !== confirmPassword) {
            passwordErrorLabel.textContent = "Confirm password does not match the password.";
            passwordErrorLabel.style.display = "block";
            ViewBagErrorField.style.display = "none";
            return false; // stop form submit
        } else {
            passwordErrorLabel.style.display = "none";
            ViewBagErrorField.style.display = "none";
        }
        return true;
    }

    function validateName() {
        var nameField = document.getElementById("name");
        var name = nameField.value;
        var NameErrorLabel = document.getElementById("nameErrorLabel");
        var namePattern = /^[A-Za-z\s]+$/;
        var ViewBagErrorField = document.getElementById("ViewBagError");
        if (!namePattern.test(name)) {
            NameErrorLabel.textContent = "Name must not contain numbers or special characters.";
            NameErrorLabel.style.display = "block";
            ViewBagErrorField.style.display = "none";
            return false;
        } else {
            NameErrorLabel.style.display = "none";
            ViewBagErrorField.style.display = "none";
            return true;
        }
    }

    function validateEmail() {
        var emailField = document.getElementById("email");
        var email = emailField.value;
        var EmailErrorLabel = document.getElementById("emailErrorLabel");
        var ViewBagErrorField = document.getElementById("ViewBagError");
        var emailPattern = /^[a-zA-Z0-9._%+-]+@@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,63}$/;

        if (!emailPattern.test(email)) {
            EmailErrorLabel.textContent = "Invalid email format.";
            EmailErrorLabel.style.display = "block";
            ViewBagErrorField.style.display = "none";
            return false;
        } else {
            EmailErrorLabel.style.display = "none";
            ViewBagErrorField.style.display = "none";
            return true;
        }
    }

    function validatePhone() {
        var phoneField = document.getElementById("phone");
        var phone = phoneField.value;
        var phonePattern = /^[0-9]{7,11}$/; // validate phone format
        var PhoneErrorLabel = document.getElementById("phoneErrorLabel");
        var ViewBagErrorField = document.getElementById("ViewBagError");
        if (!phonePattern.test(phone)) {
            PhoneErrorLabel.textContent = "Phone number must be numeric and 7 - 11 characters long.";
            PhoneErrorLabel.style.display = "block";
            ViewBagErrorField.style.display = "none";
            return false;
        } else {
            PhoneErrorLabel.style.display = "none";
            ViewBagErrorField.style.display = "none";
            return true;
        }
    }
    function validatePasswordStrength() {
        var passwordField = document.getElementById("password");
        var passwordErrorLabel = document.getElementById("passwordErrorLabel");
        var ViewBagErrorField = document.getElementById("ViewBagError");
        var password = passwordField.value;
        var passwordPattern = /^.{6,}$/;

        if (!passwordPattern.test(password)) {
            passwordErrorLabel.textContent = "Password must be at least 6 characters long.";
            passwordErrorLabel.style.display = "block";
            ViewBagErrorField.style.display = "none";
            return false;
        } else {
            passwordErrorLabel.style.display = "none";
            ViewBagErrorField.style.display = "none";
        }

        return true;
    }

    function validate() {
        var pass = validatePasswordStrength();
        if (pass) {
            var confirmPass = validatePasswords();
        }
        var name = validateName();
        var email = validateEmail();
        var phone = validatePhone();
        var result = pass && confirmPass && email && phone && name;
        return result;
    }

</script>
<style>
    body, html {
        height: 100%;
        margin: 0;
        background-color: #646D6A; /* Mã màu nền bạn muốn */
    }

    .bg-image {
        background-image: url('/pictures/ap2.jpeg');
        background-size: cover;
        background-position: center;
        width: 100%;
        min-height: 100%;
    }

    .col-md-6 {
        background-color: #333; /* White background or your preferred color */
        color: #fff;
    }

        .col-md-6 h3 {
            color: #f5e6d5;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .btn-register {
        background-color: #f5a623;
        color: #fff;
        font-weight: bold;
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 5px;
        margin-top: 20px;
        cursor: pointer;
    }

        .btn-register:hover {
            background-color: #e5941e;
        }

</style>
<body>
    <div class="container mt-4">
        <div class="row justify-content-center">
            <div class="col-md-12">

                @if (!string.IsNullOrEmpty(ViewBag.Error))
                {
                    <h4 style="color:red" id="ViewBagError">@Html.Raw(ViewBag.Error)</h4>
                }
                <form asp-controller="Acc" asp-action="Register" method="post" onsubmit="return validate();">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="bg-image"></div>
                        </div>

                        <div class="col-md-6">
                            <div class="container mt-4">
                                <div class="row justify-content-center">
                                    <div class="col-md-12">
                                        <h3>Create an Account</h3>
                                        @if (ViewBag.Error != "")
                                        {
                                            <h4 style="color:red" id="ViewBagError">@Html.Raw(ViewBag.Error)</h4>
                                        }
                                        <div class="row">
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="username">Username</label>
                                                    <input id="username" type="text" class="form-control" name="Username" placeholder="Enter your username" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="password">Password</label>
                                                    <input id="password" type="password" class="form-control" name="Password" placeholder="Create a password" required>
                                                    <label id="passwordErrorLabel" style="color: red; display: none;"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="confirmPassword">Confirm Password</label>
                                                    <input id="confirmPassword" type="password" class="form-control" name="ConfirmPassword" placeholder="Confirm your password" required>
                                                </div>
                                                <div class="form-group">
                                                    <label for="name">Your Name</label>
                                                    <input id="name" type="text" class="form-control" name="Name" placeholder="Enter your name" required>
                                                    <label id="nameErrorLabel" style="color: red; display: none;"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="email">Email</label>
                                                    <input id="email" type="text" class="form-control" name="Email" placeholder="Enter your email" required>
                                                    <label id="emailErrorLabel" style="color:red; display:none;"></label>
                                                </div>
                                            </div>
                                            <div class="col-md-6">
                                                <div class="form-group">
                                                    <label for="phone">Phone Number</label>
                                                    <input id="phone" type="tel" class="form-control" name="Phone" placeholder="Enter your phone number" required>
                                                    <label id="phoneErrorLabel" style="color: red; display: none;"></label>
                                                </div>
                                                <div class="form-group">
                                                    <label for="province">Province:</label>
                                                    <select id="provinces" name="provinces" class="form-control" required>
                                                        <option value="">Select Province/City</option>
                                                        @foreach (var item in ViewBag.Provinces)
                                                        {
                                                            <option value="@item["id"]">@item["full_name_en"]</option> <!-- Use 'id' for the value and 'name' for display -->
                                                        }
                                                    </select>
                                                    <input type="hidden" id="Province" name="Province" />
                                                </div>
                                                <div class="form-group">
                                                    <label for="district">District:</label>
                                                    <select id="district" name="District" class="form-control" required>
                                                        <option value="">Select District</option>
                                                    </select>
                                                </div>
                                                <div class="form-group">
                                                    <label for="address">Address:</label>
                                                    <input id="address" type="text" name="Address" class="form-control" placeholder="Enter Your Address" required />
                                                </div>
                                            </div>
                                        </div>
                                        <button id="submitButton" type="submit" class="btn-register">Register</button>
                                        <p class="mt-3 text-center">Already have an account? <a asp-controller="Acc" asp-action="Login" style="color: #f5a623; text-decoration: none;">Login here</a>.</p>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>
</body>




