@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    Layout = "_AccLayout";
}

<div style="height: 500px; justify-content:center">
    <h2 id="successful">Register Successfully.</h2>
    <h3 style="color: forestgreen">We just send an email to @ViewBag.Email. Please check your email!</h3>
</div>